<form action="https://mailthis.to/info@modelika.eu" method="POST" accept-charset="UTF-8">
 <fieldset>
 <label for="name">Imię</label><br>
 <input type="text" name="name" placeholder="Imię" id="name" required>
 </fieldset>
 <fieldset>
 <label for="_replyto">email</label><br>
 <input type="Twój email do kontaktu" name="_replyto" placeholder="mój@email.pl" id="_replyto" required>
 </fieldset>
 <fieldset>
 <label for="message">Wiadomość</label><br>
 <textarea name="message" rows="1" placeholder="Wiadomość" id="message" required></textarea>
 </fieldset>
 <input type="file" name="plik" placeholder="">
 <input class="hidden" type="text" name="_gotcha" style="display:none">
 <input class="hidden" type="hidden" name="_subject" value="Message via http://modelika.eu"> 

<input type="hidden" name="_after" value="https://modelika.eu/kontakt">
<input class="button submit" type="submit" value="Wyslać">
</form>
